<div class="col-md-4"> 

	<div class="list-group-item active">
		Editar Informações
	</div>
	
	<%= link_to 'Dados Pessoais', new_address_path, class: 'list-group-item' %> 
	<%= link_to 'Endereço', addresses_path, class: 'list-group-item' %> 
	<%= link_to 'Educação', educations_path, class: 'list-group-item' %> 

</div>